body {
  background-image: url(../img/Shadow.png);
}
.cat {
  max-width: 1280px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 80px 60px 80px;
  margin: 0 auto;
  color: black;
}
.cat-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 200;
  color: aliceblue;
  margin: 0;
  text-align: center;
  font-size: 36px;
  padding-bottom: 24px;
}
.cat-wrp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cat-item {
  width: 320px;
  height: 480px;
  box-sizing: border-box;
  position: relative;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
.cat-item-content {
  background-color: white;
  padding: 15px 0 0 48px;
  height: 435px;
  border: 4px solid #0099cc;
  border-top: none;
  margin: 0;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
  background-image: url(../img/Photo.png);
  background-repeat: no-repeat;
  background-position-x: -35px;
  background-position-y: 160px;
}
.cat-item-circle {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: #0099cc;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-weight: 400;
  font-family: "Exo 2", sans-serif;
  font-size: 42px;
  color: white;
  text-align: center;
  box-sizing: border-box;
  line-height: 27px;
}
.cat-item-circle p {
  margin: 0;
  padding-top: 10px;
}
.cat-item-circle span {
  font-size: 21px;
}
.header {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.header-p {
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
  font-weight: 200;
  margin: 0;
  background: #fff;
  padding-top: 21px;
  border-top: 4px solid #0099cc;
  border-radius: 0 8px 0 0;
  border-right: 4px solid #0099cc;
  width: 275px;
}
.header-angle {
  width: 45px;
  height: 45px;
  background: linear-gradient(-45deg, #ffffff, #ffffff 28.5px, #0099cc 0, #0099cc 33px, transparent 0);
}
.content-h2 {
  font-size: 48px;
  margin: 0;
  margin-bottom: 5px;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
}
.content-h4 {
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 15px;
}
.content-list {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  font-family: "Exo 2", sans-serif;
  color: #666;
  list-style-type: none;
  padding: 0;
}
.cat-item-txt {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}
.cat-item-txt a {
  border-bottom: 1px dashed #0099cc;
  color: #0099cc;
  text-decoration: none;
}
.cat-item-txt-s,
.cat-item-txt-d {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  display: none;
}
.cat-item:hover .cat-item-content {
  border: 4px solid #2ea8e6;
  border-top: none;
}
.cat-item:hover .cat-item-circle {
  background-color: #2ea8e6;
}
.cat-item:hover .header-p {
  border-top: 4px solid #2ea8e6;
  border-right: 4px solid #2ea8e6;
}
.cat-item:hover .header-angle {
  width: 45px;
  height: 45px;
  background: linear-gradient(-45deg, #ffffff, #ffffff 28.5px, #2ea8e6 0, #2ea8e6 33px, transparent 0);
}
.cat-item:hover .cat-item-txt a {
  border-bottom: 1px dashed #2ea8e6;
  color: #2ea8e6;
}
.selected .cat-item-content {
  border: 4px solid #d91667;
  border-top: none;
}
.selected .cat-item-circle {
  background-color: #d91667;
}
.selected .header-p {
  border-top: 4px solid #d91667;
  border-right: 4px solid #d91667;
}
.selected .header-angle {
  width: 45px;
  height: 45px;
  background: linear-gradient(-45deg, #ffffff, #ffffff 28.5px, #d91667 0, #d91667 33px, transparent 0);
}
.selected .cat-item-txt {
  display: none;
}
.selected .cat-item-txt-s {
  display: block;
}
.selected:hover .cat-item-content {
  border: 4px solid #e62e7a;
  border-top: none;
}
.selected:hover .cat-item-circle {
  background-color: #e62e7a;
}
.selected:hover .header-p {
  border-top: 4px solid #e62e7a;
  border-right: 4px solid #e62e7a;
}
.selected:hover .header-angle {
  width: 45px;
  height: 45px;
  background: linear-gradient(-45deg, #ffffff, #ffffff 28.5px, #e62e7a 0, #e62e7a 33px, transparent 0);
}
.disabled {
  cursor: default;
}
.disabled .header {
  color: #b3b3b3;
}
.disabled .cat-item-content {
  color: #b3b3b3;
  background-image: url(../img/Photo_dis.png);
}
.disabled .cat-item-content {
  border: 4px solid #b3b3b3;
  border-top: none;
}
.disabled .cat-item-circle {
  background-color: #b3b3b3;
}
.disabled .header-p {
  border-top: 4px solid #b3b3b3;
  border-right: 4px solid #b3b3b3;
}
.disabled .header-angle {
  width: 45px;
  height: 45px;
  background: linear-gradient(-45deg, #ffffff, #ffffff 28.5px, #b3b3b3 0, #b3b3b3 33px, transparent 0);
}
.disabled .cat-item-txt {
  display: none;
}
.disabled .cat-item-txt-d {
  color: #e9e95c;
  display: block;
}
.disabled:hover .cat-item-content {
  border: 4px solid #b3b3b3;
  border-top: none;
}
.disabled:hover .cat-item-circle {
  background-color: #b3b3b3;
}
.disabled:hover .header-p {
  border-top: 4px solid #b3b3b3;
  border-right: 4px solid #b3b3b3;
}
.disabled:hover .header-angle {
  width: 45px;
  height: 45px;
  background: linear-gradient(-45deg, #ffffff, #ffffff 28.5px, #b3b3b3 0, #b3b3b3 33px, transparent 0);
}
